/* GENERAL */
body {
    margin: 0;
    padding: 0;
    background-image: url("/resources/images/background.jpg");
    background-attachment: fixed;
    background-color: rgba(202,202,202,0.9);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

p {
    font-size: 24px;
}

input {
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    font-size: 24px;
    padding: 5px 15px;
    border: 1px solid black;
}

button:hover {
    background: rgba(202,202,202,1);
    cursor: pointer;
}

form label {
    font-size: 24px;
    margin-right: 25px;
    opacity: 1;
}

form input {
    margin-bottom: 15px;
}

form a {
    font-size: 18px;
}

form p {
    color: #b73d24;
    margin-bottom: 15px;
}

form[name="login"] button, form[name="registration"] button {
    width: 100%;
    height: 75px;
    margin-bottom: 30px;
}

.background-body {
    background: rgba(236,236,236,0.6);
    min-height: 100vh;
}
.flex-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.content-container {
    padding: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    opacity: 0.85;
    margin-top: 40px;
    margin-right: 100px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 40px;
}
.games-container {
    width:1000px;
    min-width: 1000px;
    min-height: 75vh;
}

/* *********** MENU  ********** */
.menu {
    margin-top: 40px;
}
.menu ul {
    border: 2px solid black;
    border-radius: 20px;
    opacity: 0.85;
    width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    width: 100%;
}
.menu ul li a {
    text-decoration: none;
    color:black;
    width: 100%;
    height: 55px;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid black;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

.menu ul li a:hover {
    background-color: rgba(255,255,255,0.6);
}
/* ************ IMAGES *************** */
.crop {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 300px;
}

.crop img {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.crop .editBox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}

.crop:hover img {
    opacity: 0.5;
}
.crop:hover .editBox {
    display: block;
    opacity: 1;
}

.editBox a i {
    color:rgba(236,236,236,1);
    font-size:15px;
}
/* ************ FORMS *********** */
input:focus, button:focus {
    outline: none;
}

input, button, label {
    border-radius: 10px;
    opacity: 0.7;
}
/* ************ SEARCH ********** */
.search-box input {
    height: 30px;
    padding: 20px 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.search-box .year-input {
    width: 90px;
    padding-right: 3px;
}

.profile {
    position: relative;
}

.profile form a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(202,202,202,0.7);
    box-sizing: border-box;
    display: inline-block;
}
.profile form a:hover {
    background: rgba(202,202,202,1);
}

/* ************ GAMES  ********** */
.game-list {
    margin: 0;
    padding: 0;
}

.game-list li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.game-list li .game-info {
    margin-left: 75px;
    width: 351px;
}

.game-info .row-1 i {
    float: right;
}

.game-info .row-1 h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.game-info .row-2 .average-mark h1 {
    margin-top: 15px;
    margin-bottom: 0;
}

.game-info .row-2 .average-mark span {
    margin-left: 15px;
    font-size: 20px;
}

.game-info .row-2 .marks {
    margin-top: 15px;
}

.game-info p {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ***** PAGINATION ****** */
.pagination {
    position: absolute;
    bottom: 20px;
    width:100%;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    font-weight: 900;
    font-size: 36px;
    color: black;
}

.pagination .forward {
    margin-left: 10px;
}
/* ***** ICONS  ******* */
.far:hover, .hovered-star {
    font-weight: 900;
}

.fa-star {
    font-size: 25px;
    transition: 0.3s ease-in-out;
}

.fa-bookmark {
    font-size: 35px;
    height: 34px;
}

.fa-window-close:disabled {
    color: blue;
}

