.crop {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 300px;
}
.crop img {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.game-list {

}
.game-list li {
    display: flex;
    flex-direction: row;
}
.game-list li .game-info {
    margin-left: 100px;
}
.far:hover, .hovered-star {
    font-weight: 900;
}
.fa-star {
    font-size: 25px;
    transition: 0.3s ease-in-out;
}
.fa-bookmark {
    font-size: 35px;
    height: 34px;
}
.fa-window-close:disabled {
    color:blue;
}

